<suite name="Suite" parallel="tests" thread-count="3">

    <test name="Smoke Tests">
        <classes>
            <class name="com.apollo247.testing.runner.RunnerIO"/>
        </classes>
    </test>

    <test name="Regression Tests">
        <classes>
            <class name="com.apollo247.testing.runner.RunnerIO"/>
        </classes>
    </test>

</suite>